{% extends 'base.html.twig' %}

{% block title %}CritX > {{category}}{% endblock %}

{% block body %}

<div>
    <h1>All {{category}}<sup>({{category.pieces|length}})</sup></h1>
    <a href="{{ path('new_piece')}}">Add a Piece</a><br>
    <a href="{{ path('new_critic')}}">Add a Critic</a>
    <hr>
    {% for piece in category.pieces|sort((a, b) => a.title <=> b.title) %}
        <h2><a href="{{ path('show_critics', {'id': piece.id})}}">{{piece}}</a></h2>


        {% if piece.category == "Music" %}
        <a href="{{ path('show_critics', {'id': piece.id})}}">
            <img src="/uploads/images/{{piece.poster}}" alt="{{piece}}" style="width: 265px; height: 265px; object-fit: cover">
        </a>

        {% else %}
        <a href="{{ path('show_critics', {'id': piece.id})}}">
            <img src="/uploads/images/{{piece.poster}}" alt="{{piece}}" style="width: 265px; height: 360px; object-fit: cover">
        </a>

        {% endif %}


        <p><u>Maker</u> : {{piece.maker}}</p>
        
        {% if piece.isUpcoming %}
            <p><u>Release date</u> : {{piece.releaseDateENG|date("Y") }} (Upcoming)</p>
        {% else %}
            <p><u>Release date</u> : {{piece.releaseDateENG}}</p>
        {% endif %}

        {% if piece.critics|length > 0 %}
            <p><u>Critic score</u> : {{ piece.criticTotalScore }}/10</p>
        {% endif %}

        {% if piece.opinions|length > 0 %}
            <p><u>User score</u> : {{ piece.userTotalScore }}/10</p><br>
        {% else %}
            <p><u>User score</u> : Not rated yet</p><br>
        {% endif %}
    {% endfor %}
</div>
            
{% endblock %}
            
    


