{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
    Edit Piece
    {% else %}
    Add Piece
    {% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
    <h1>Edit a Piece</h1><br>
    {% else %}
    <h1>Add a Piece</h1><br>
    {% endif %}

    {{ form_start(formAddPiece) }}
    
        {{ form_row(formAddPiece.title) }}<br>
        {{ form_row(formAddPiece.about) }}<br>
        {{ form_row(formAddPiece.maker) }}
        {{ form_row(formAddPiece.releaseDate) }}
        {{ form_row(formAddPiece.isUpcoming) }}
        {{ form_row(formAddPiece.category) }}<br>

        {# > "Add images" forms prototypes #}
        <button type="button" class="addFormImagesLink" data-collection-holder-class="addFormImages">Add images</button><br><br>
        <ul class="addFormImages"
        data-index="{{ formAddPiece.images|length > 0 ? formAddPiece.images|last.vars.name + 1 : 0}}"
        data-prototype="{{ form_widget(formAddPiece.images.vars.prototype)|e('html_attr')}}">
        </ul>

        {{ form_row(formAddPiece.validate) }}<br><br>

    {{ form_end(formAddPiece) }}

{% endblock %}