{% extends 'base.html.twig' %}

{% block title %}CritX : Video Reviews of Games, Movies, Music, Books...by content creators{% endblock %}

{% block banner %}
    <div id="homeBanner">
        <h1><em>For every culture, there's a Youtuber</em></h1>
        <a href="{{ path('random_critics')}}">Discover</a>
    </div>
{% endblock %}

{% block body %}

<div id="homeContainer">
    <section id="pieceListContainerHome">
        <h2>Latest releases</h2>
        <hr>

        <div id="pieceListHome">
            {% for piece in pieces|slice(0, 3) %}
                <div id="onePieceListHome">
                    {% if piece.category == "Music" %}
                    <a href="{{ path('infos_piece', {'id': piece.id})}}">
                        <img id="musicPieceListHome" src="/uploads/images/{{piece.poster}}" alt="{{piece}}-visual">
                    </a>
                    {% else %}
                    <a href="{{ path('infos_piece', {'id': piece.id})}}">
                        <img src="/uploads/images/{{piece.poster}}" alt="{{piece}}-visual">
                    </a>
                    {% endif %}

                    <h3><a href="{{ path('infos_piece', {'id': piece.id})}}">{{piece}}</a></h3>
                    <i>#{{piece.category}}</i>

                    <div id="onePieceListScoreContainerHome">
                        {% if piece.critics|length > 0 %}
                            <div id="onePieceListScoreHome">
                                <strong>Critic score</strong>

                                {% if piece.criticTotalScore >= 6.6 %}
                                    <div id="onePieceListScoreTokenHome" class="goodScore">
                                {% elseif piece.criticTotalScore <= 6.6 and piece.criticTotalScore >= 3.3 %}
                                    <div id="onePieceListScoreTokenHome" class="averageScore">
                                {% else %}
                                    <div id="onePieceListScoreTokenHome" class="badScore">
                                {% endif %}
                                
                                    {{ piece.criticTotalScore }}
                                    <hr>
                                    10
                                </div>
                            </div>
                        {% endif %}

                        {% if piece.opinions|length > 0 %}
                            <div id="onePieceListScoreHome">
                                <strong>User score</strong>

                                {% if piece.userTotalScore >= 6.6 %}
                                    <div id="onePieceListScoreTokenHome" class="goodScore">
                                {% elseif piece.userTotalScore <= 6.6 and piece.userTotalScore >= 3.3 %}
                                    <div id="onePieceListScoreTokenHome" class="averageScore">
                                {% else %}
                                    <div id="onePieceListScoreTokenHome" class="badScore">
                                {% endif %}

                                    {{ piece.userTotalScore }}
                                    <hr>
                                    10
                                </div>
                            </div>
                        {% else %}
                            <div id="onePieceListScoreHome">
                                <strong>User score</strong>
                                <div id="onePieceListScoreTokenHome" class="noScore">
                                    -
                                    <hr>
                                    10
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <hr>
    <section>
        <h1><em>Watch, comment and react to what they think</em></h1>
    </section>

    <section id="influListContainerHome">

        <h2>They are on CritX</h2>
        <hr>
    
        <div id="influencerListHome">
            {% for influencer in influencers|slice(0, 8) %}
                {# {% if influencer.photo %} #}

                <div id="oneInfluencerListHome">
                
                    <a href="{{ path('show_influencer', {'id': influencer.id})}}">

                    {% if influencer.photo %}
                        <img src="/uploads/photos/influPhotos/{{influencer.photo}}" alt="{{influencer}}-picture">
                    {% else %}
                        <img src="/uploads/photos/influPhotos/influencer-default.png" alt="influencer-default-picture">
                    {% endif %}

                    </a>

                    <h3><a href="{{ path('show_influencer', {'id': influencer.id})}}">{{influencer}}</a></h3>

                    {# > If Influencer's real name is known #}
                    {% if influencer.realName and influencer != influencer.realName %}
                        <h4>({{influencer.realname}})</h4>
                    {% endif %}

                </div>

                {# {% endif %} #}
            {% endfor %}
        </div>
    </section>

    <hr>
    <section>
        
    </section>
</div>

{% endblock %}