{% extends 'base.html.twig' %}

{% block title %}CritX : Video Reviews of Games, Movies, Music, Books...by content creators{% endblock %}

{% block body %}

<div>
    <h1>Hello {{ controller_name }}! ✅</h1>
    
    {% if app.user %}
        <a href="{{ path('dashboard_user')}}">Your dashboard</a><br><br>
    {% endif %}
    
    {% for category in categories %}
        <a href="{{ path('show_category', {'id': category.id})}}">{{category}}</a><br>
    {% endfor %}
    <br>
    <a href="{{path('app_influencer')}}">All content creators</a>
</div>

{% endblock %}