{% extends 'base.html.twig' %}

{% block title %}CritX : Video Reviews of Games, Movies, Music, Books...by content creators{% endblock %}

{% block banner %}
    <div id="homeBanner">
        <h1><em>For every culture, there's a Youtuber</em></h1>
        <a href="{{ path('random_critics')}}">Discover</a>
    </div>
{% endblock %}

{% block body %}

<div id="homeContainer">
    <section id="pieceListContainerHome">
        <h2>Latest releases</h2>
        <hr>

        <div id="pieceListHome">
            {% for piece in pieces|slice(0, 3) %}
                <div id="onePieceListHome">
                    {% if piece.category == "Music" %}
                    <a href="{{ path('infos_piece', {'id': piece.id})}}">
                        <img id="musicPieceListHome" src="/uploads/images/{{piece.poster}}" alt="{{piece}}-visual">
                    </a>
                    {% else %}
                    <a href="{{ path('infos_piece', {'id': piece.id})}}">
                        <img src="/uploads/images/{{piece.poster}}" alt="{{piece}}-visual">
                    </a>
                    {% endif %}

                    <h3><a href="{{ path('infos_piece', {'id': piece.id})}}">{{piece}}</a></h3>
                    <i>#{{piece.category}}</i>

                    <div id="onePieceListScoreContainerHome">
                        {% if piece.critics|length > 0 %}
                            <div id="onePieceListScoreHome">
                                <strong>Critic score</strong>

                                {% if piece.criticTotalScore >= 6.6 %}
                                    <div id="onePieceListScoreTokenHome" class="goodScore">
                                {% elseif piece.criticTotalScore <= 6.6 and piece.criticTotalScore >= 3.3 %}
                                    <div id="onePieceListScoreTokenHome" class="averageScore">
                                {% else %}
                                    <div id="onePieceListScoreTokenHome" class="badScore">
                                {% endif %}
                                
                                    {{ piece.criticTotalScore }}
                                    <hr>
                                    10
                                </div>
                            </div>
                        {% endif %}

                        {% if piece.opinions|length > 0 %}
                            <div id="onePieceListScoreHome">
                                <strong>User score</strong>

                                {% if piece.userTotalScore >= 6.6 %}
                                    <div id="onePieceListScoreTokenHome" class="goodScore">
                                {% elseif piece.userTotalScore <= 6.6 and piece.userTotalScore >= 3.3 %}
                                    <div id="onePieceListScoreTokenHome" class="averageScore">
                                {% else %}
                                    <div id="onePieceListScoreTokenHome" class="badScore">
                                {% endif %}

                                    {{ piece.userTotalScore }}
                                    <hr>
                                    10
                                </div>
                            </div>
                        {% else %}
                            <div id="onePieceListScoreHome">
                                <strong>User score</strong>
                                <div id="onePieceListScoreTokenHome" class="noScore">
                                    -
                                    <hr>
                                    10
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    <hr>
    </section>

    <section>
        <h1><em>Watch, comment and react to what they think</em></h1>
    </section>

    <section id="influListContainerHome">

        <h2>They are on CritX</h2>
        <hr>
    
        <div id="influencerListHome">
            {% for influencer in influencers
                |filter(i => i.photo is not empty)
                |slice(0, 8) %}

                <div id="oneInfluencerListHome">
                
                    <a href="{{ path('show_influencer', {'slug': influencer.slug})}}">
                        <img src="/uploads/photos/influPhotos/{{influencer.photo}}" alt="{{influencer}}-picture">
                    </a>

                    <h3><a href="{{ path('show_influencer', {'slug': influencer.slug})}}">{{influencer}}</a></h3>

                    {# > If Influencer's real name is known #}
                    {% if influencer.realName and influencer != influencer.realName %}
                        <h4>({{influencer.realname}})</h4>
                    {% endif %}

                </div>

                {# {% endif %} #}
            {% endfor %}
        </div>
    </section>

    <section id="vipCommentListContainerHome">

        <h2>Comments of the week</h2>
        <hr>

        <div id="vipCommentListHome">
            {% for vipComment in vipComments|slice(0, 2) %}

            <div id="vipCommentListSubContainerHome">
                <article class="commentDisplay">
                        
                    <div id="vipCommentTitleHome">
                        <h4>Comment of the Week</h4>
                        <i class="fa-solid fa-medal vipIcon"></i>
                    </div>
                
                    <div id="vipCommentContentHome">
                        {% if vipComment.user.profilePicture %}
                            <a class="ppLink" href="{{ path('show_user', {'slug': vipComment.user.slug})}}"><img src="/uploads/photos/userPhotos/{{vipComment.user.profilePicture}}" alt="{{vipComment.user}}-profile-picture"></a>
                        {% else %}
                            <a class="ppLink" href="{{ path('show_user', {'slug': vipComment.user.slug})}}"><img src="/uploads/photos/userPhotos/user-default.png" alt="user-default-profile-picture"></a>
                        {% endif %}

                        <div class="mainComment">
                            <a href="{{ path('show_user', {'slug': vipComment.user.slug})}}"><strong>{{vipComment.user}}</a> - </strong>
                            <span>{{vipComment.datePostENG}}</span><br>

                            <div id="vipCommentUserScoreHome">

                            {# > User score fetch #}
                            {% set userScore = null %}
                            {% for opinion in vipComment.user.opinions %}
                                {% if opinion.piece.id == vipComment.critic.piece.id %}
                                    {% set userScore = opinion.userScore %}
                                {% endif %}
                            {% endfor %}
                                
                                {% if userScore %}

                                    <h4>Score :</h4>

                                    {# > Star score system #}
                                    {% set note = userScore %}
                                    {# {% set fullStars = note|round(0, 'floor') %} #}
                                    {% set fullStars = note %}
                                    {# {% set partialStar = (note - fullStars)|round(0, 'ceil') %} #}
                                    {% set emptyStars = 5 - fullStars %}
                                    {# {% set emptyStars = 5 - fullStars - (partialStar ? 1 : 0) %} #}

                                    <div>
                                        {% for i in range(1, fullStars) %}
                                            <i class="fa-solid fa-star fullstars"></i>
                                        {% endfor %}

                                        {# {% if partialStar %}
                                            <i class="fa-solid fa-star-half-stroke halfstars"></i>
                                        {% endif %} #}

                                        {% if emptyStars %}
                                            {% for i in range(1, emptyStars) %}
                                                <i class="fa-solid fa-star emptystars"></i>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                {% endif %}
                            </div>

                            <p>{{vipComment.text}}</p>
                        </div>
                    </div>
                </article>

            <h3>On : <a href="{{ path('show_critics', {'id': vipComment.critic.piece.id})}}#critic-{{vipComment.critic.id}}">{{vipComment.critic.piece}}</a></h3>
            <i>#{{vipComment.critic.piece.category}}</i>
            </div>
            {% endfor %}
        </div>
    </section>

    <a href="#homeLink" aria-label="Return Up Button"><i class="fa-regular fa-circle-up"></i></a>
</div>

{% endblock %}