{% extends 'base.html.twig' %}

{% block title %}CritX > Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="logsFormContainer">
        <div class="logsForm" id="registerForm">
            <h1>Register</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                
                <div class="logsFormGroup">
                    <div>
                        {{ form_label(registrationForm.nickName)}}<br>
                        {{ form_widget(registrationForm.nickName)}}<br>
                    </div>
                </div>
                <div class="logsFormGroup">
                    <div>
                        {{ form_label(registrationForm.email)}}<br>
                        {{ form_widget(registrationForm.email) }}<br>
                    </div>
                </div>
                <strong>Your password must contain at least 12 characters, one lowercase letter, one uppercase letter, one number, 
                and one special character.</strong><br><br>
                <div class="logsFormGroup">
                    <div>
                        {{ form_label(registrationForm.plainPassword.first)}}<br>
                        {{ form_widget(registrationForm.plainPassword.first) }}<br>
                    </div>
                </div>
                <div class="logsFormGroup">
                    <div>
                        {{ form_label(registrationForm.plainPassword.second)}}<br>
                        {{ form_widget(registrationForm.plainPassword.second) }}<br>
                    </div>
                </div>
                <div class="checkBoxes">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_label(registrationForm.agreeTerms)}}
                </div>
                <small><em>By joining CritX, you agree to our <a href="{{ path('app_privacy')}}">Privacy Policy</a>.</em></small>

                <button type="submit" class="btn">Register</button>

            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
