{% extends 'base.html.twig' %}

{% block title %}All influencers by media{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>All influencers by media</h1>
    <ul>
        <li><a href="{{ path('new_influencer')}}">Add an Influencer</a></li>
    </ul>
    {% for influencer in influencers %}
        <h2>{{influencer}}</h2>
        {% if influencer.realName and influencer != influencer.realName %}
            <h3>({{influencer.realname}})</h3>
        {% endif %}
        <p>{{influencer.bio}}</p>
        <img src="/uploads/photos/influPhotos/{{influencer.photo}}" alt="{{influencer}}" style="width: 265px; height: 360px; object-fit: cover">
    {% endfor %}
</div>
{% endblock %}
