{% extends 'base.html.twig' %}

{% block title %}CritX > Content creators{% endblock %}

{% block body %}
<div>

    <h1>All content creators by media</h1>

    <a href="{{ path('new_influencer')}}">Add an Influencer</a>
    <hr>
    
    {% for influencer in influencers %}
        <h2>{{influencer}}</h2>

        {# > If Influencer's real name is known #}
        {% if influencer.realName and influencer != influencer.realName %}
            <h3>({{influencer.realname}})</h3>
        {% endif %}
        
        <a href="{{ path('show_influencer', {'id': influencer.id})}}">
            <img src="/uploads/photos/influPhotos/{{influencer.photo}}" alt="{{influencer}}" style="width: 265px; height: 360px; object-fit: cover"></a>

    {# > Edit and suppression (modal) #}
    <a href="{{ path('edit_influencer', {'id': influencer.id})}}"><button>Edit</button></a>
    {# <a href="{{ path('delete_influencer', {'id': influencer.id})}}">Delete</a></h2><br> #}
    <button class="deleteConfirm">Delete</button><br>
        <dialog class="openModal">
            <h3>Are you sure you want to delete "{{influencer}}" ?</h3>
            <a href="{{ path('delete_influencer', {'id': influencer.id})}}"><button>Yes</button></a>
            <button class="closeModal">No</button>
        </dialog>

    {% endfor %}
</div>

{% endblock %}


