{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
    Edit Influencer
    {% else %}
    Add Influencer
    {% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
    <h1>Edit an Influencer</h1><br>
    {% else %}
    <h1>Add an Influencer</h1><br>
    {% endif %}

    {{ form_start(formAddInfluencer) }}
    
        {{ form_row(formAddInfluencer.nickName) }}
        {{ form_row(formAddInfluencer.realName) }}<br>
        {{ form_row(formAddInfluencer.bio) }}<br>
        {{ form_row(formAddInfluencer.photo) }}<br>

        {# > "Add socials" forms prototypes #}
        <button type="button" class="addFormSocialsLink" data-collection-holder-class="addFormSocials">Add socials</button><br><br>
        <ul class="addFormSocials"
        data-index="{{ formAddInfluencer.socials|length > 0 ? formAddInfluencer.socials|last.vars.name + 1 : 0}}"
        data-prototype="{{ form_widget(formAddInfluencer.socials.vars.prototype)|e('html_attr')}}">
        </ul>

        {{ form_row(formAddInfluencer.validate) }}<br><br>

    {{ form_end(formAddInfluencer) }}

{% endblock %}