{% extends 'base.html.twig' %}

{% block title %}CritX > Content Creators > {{influencer}}{% endblock %}

{% block body %}
    <h1>All about</h1>
    <hr>
    <h2>{{influencer}}</h2>

    {# > If Influencer's real name is known #}
    {% if influencer.realName and influencer != influencer.realName %}
        <h3>({{influencer.realname}})</h3>
    {% endif %}
    
    <img src="/uploads/photos/influPhotos/{{influencer.photo}}" alt="{{influencer}}" style="width: 265px; height: 360px; object-fit: cover">
    
    {# > Edit and suppression (modal) #}
    <a href="{{ path('edit_influencer', {'id': influencer.id})}}"><button>Edit</button></a>
    {# <a href="{{ path('delete_influencer', {'id': influencer.id})}}">Delete</a></h2><br> #}
    <button class="deleteConfirm">Delete</button><br>
        <dialog class="openModal">
            <h3>Are you sure you want to delete "{{influencer}}" ?</h3>
            <a href="{{ path('delete_influencer', {'id': influencer.id})}}"><button>Yes</button></a>
            <button class="closeModal">No</button>
        </dialog>

    {# > Like + dislike button #}
    {% if app.user in influencer.users %}
        <a href="{{ path('unlike_influencer', {'id': influencer.id, 'origin': 'influencerPage'}) }}"><button>Unlike</button></a>
    {% else %}
        <a href="{{ path('like_influencer', {'id': influencer.id})}}"><button>Like</button></a>
    {% endif %}<br><br>

    <p>{{influencer.bio}}</p><br>
    

    {# > Influencer Live #}
    {% for social in influencer.socials %}
        {% if social.liveId %}
            <iframe src="https://player.twitch.tv/?channel={{social.liveId}}&parent=127.0.0.1" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe><br><br>
        {% endif %}
    {% endfor %}
        


    Socials :
    {% for social in influencer.socials %}
        {% if social.channelId is not null and social == "YouTube" %}
                {% for item in YTStats.items %}
                <li><a href="{{social.link}}" target="_blank">{{social}}</a> ({{ item.statistics.subscriberCount|format_short }} followers)</li>
                {% endfor %}
            {% else %}
            <li><a href="{{social.link}}" target="_blank">{{social}}</a> ({{social.subNumber}} followers)</li>
        {% endif %}
    {% endfor %}
    <br>



    <p>{{influencer}}'s latest critics :</p>
    {% for critic in influencer.critics %}
        <a href="{{ path('show_critics', {'id': critic.piece.id})}}"><img src="/uploads/images/{{critic.piece.poster}}"
        alt="{{critic.piece}}"
        style="width: 88px; height: 120px; object-fit: cover"></a><br> 
        <a href="{{ path('show_critics', {'id': critic.piece.id})}}">{{critic.piece}}</a>

        {# > Star score system #}
        {% set note = critic.criticScore %}
        {# {% set fullStars = note|round(0, 'floor') %} #}
        {% set fullStars = note %}
        {# {% set partialStar = (note - fullStars)|round(0, 'ceil') %} #}
        {% set emptyStars = 5 - fullStars %}
        {# {% set emptyStars = 5 - fullStars - (partialStar ? 1 : 0) %} #}
        
        {% for i in range(1, fullStars) %}
            <i class="fa-solid fa-star fullstars"></i>
        {% endfor %}

        {# {% if partialStar %}
            <i class="fa-solid fa-star-half-stroke halfstars"></i>
        {% endif %} #}

        {% if emptyStars %}
            {% for i in range(1, emptyStars) %}
                <i class="fa-solid fa-star emptystars"></i>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <br>
    <br>
    <a href="{{path('app_influencer')}}"><i>> View all content creators by media</i></a>
    
{% endblock %}