{% extends 'base.html.twig' %}

{% block title %}CritX > {{piece.category}} > Critics > {{piece}}{% endblock %}

{% block body %}

<div>
    <div id="criticsInfos">
        <div id="criticsInfosImage">
            {% if piece.category == "Music" %}
                <img id="musicCriticsInfos" src="/uploads/images/{{piece.poster}}" alt="{{piece}}-visual">
            {% else %}
                <img src="/uploads/images/{{piece.poster}}" alt="{{piece}}-visual">
            {% endif %}

            {# {% if app.user in piece.users %}
                <a href="{{ path('unsave_critics', {'id': piece.id, 'origin': 'criticsPage'}) }}"><button>Unsave page</button></a>
            {% else %}
                <a href="{{ path('save_critics', {'id': piece.id})}}"><button>Come back later</button></a>
            {% endif %} #}

            <div id="bookMark">
                {# > Save/Unsave critics button (AJAX ver.) #}
                {% if app.user in piece.users %}
                    <button class="save-critics-btn"
                            data-piece-id="{{ piece.id }}"
                            data-action="unsave"><i class="fa-solid fa-bookmark"></i></button>
                {% else %}
                    <button class="save-critics-btn"
                            data-piece-id="{{ piece.id }}"
                            data-action="save"><i class="fa-regular fa-bookmark"></i></button>
                {% endif %}

                <small>Come back later</small>
            </div>
        </div>

        <div id="criticsInfosText">
            <i>#{{piece.category}} > Critics</i>
            <h2>Critics on →</h2>
            <h1>{{piece}}</h1>

            <div id="scoreContainer">
                {# > Avoid division by zero error #}
                {% if piece.critics|length > 0 %}
                    <div id="oneCriticScore">
                        <strong>Critic Score</strong> 

                        {% if piece.criticTotalScore >= 6.6 %}
                            <div id="oneCriticScoreToken" class="goodScore">
                        {% elseif piece.criticTotalScore <= 6.6 and piece.criticTotalScore >= 3.3 %}
                            <div id="oneCriticScoreToken" class="averageScore">
                        {% else %}
                            <div id="oneCriticScoreToken" class="badScore">
                        {% endif %}
                        
                            {{piece.criticTotalScore}}
                            <hr>
                            10
                        </div>
                    </div>
                {% endif %}

                {% if piece.opinions|length > 0 %}
                    <div id="oneCriticScore">
                        <strong>User score</strong>
                        
                        {% if piece.criticTotalScore >= 6.6 %}
                            <div id="oneCriticScoreToken" class="goodScore">
                        {% elseif piece.criticTotalScore <= 6.6 and piece.criticTotalScore >= 3.3 %}
                            <div id="oneCriticScoreToken" class="averageScore">
                        {% else %}
                            <div id="oneCriticScoreToken" class="badScore">
                        {% endif %}

                            {{ piece.userTotalScore }}
                            <hr>
                            10
                        </div>
                    </div>
                {% else %}
                    <div id="oneCriticScore">
                    <strong>User score</strong>
                        <div id="oneCriticScoreToken" class="noScore">
                            -
                            <hr>
                            10
                        </div>
                    </div>
                {% endif %}
            </div>
            <div id="criticsInfosTextPara">
                <strong>Maker : </strong>{{piece.maker}}<br>

                {% if piece.isUpcoming %}
                    <strong>Release date : </strong>{{piece.releaseDateENG|date("Y") }} (Upcoming)<br>
                {% else %}
                    <strong>Release date : </strong>{{piece.releaseDateENG}}<br>
                {% endif %}
            
                <strong>About : </strong>{{piece.about}}
            </div>
            <h4><a href="{{ path('infos_piece', {'id': piece.id})}}">+ More infos</a></h4>
        </div>
    </div>

    <h3>Latest critics</h3>
    <hr style="width: 66%"><br>

    {% for critic in piece.critics|sort((a, b) => b.datePost <=> a.datePost) %}
        <div id="critic-{{critic.id}}">

        {# <iframe width="560" height="315" src="{{critic.media}}" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe> #}
            <div class="youtube_player" 
            videoID="{{critic.media}}" 
            width="560" 
            height="315" 
            theme="theme (dark | light)" 
            rel="rel (1 | 0)" 
            controls="controls (1 | 0)" 
            showinfo="showinfo (1 | 0)" 
            autoplay="autoplay (0 | 1)" 
            mute="mute (0 | 1)" 
            loop="loop (0 | 1)" 
            loading="loading (0 | 1)" 
            data-start="start" 
            data-end="end"></div>
            <h3>By: <a href="{{ path('show_influencer', {'id': critic.influencer.id})}}">{{critic.influencer}}</a></h3>

            <a href="{{ path('show_influencer', {'id': critic.influencer.id})}}">
            {% if critic.influencer.photo %}
                <img src="/uploads/photos/influPhotos/{{critic.influencer.photo}}" alt="{{critic.influencer}}-picture" style="width: 265px; height: 360px; object-fit: cover">
            {% else %}
                <img src="/uploads/photos/influPhotos/influencer-default.png" alt="influencer-default-picture" style="width: 265px; height: 360px; object-fit: cover">
            {% endif %}
            </a>

            <blockquote>{{critic.summary}}</blockquote>



            {# > Star score system #}
            {% set note = critic.criticScore %}
            {# {% set fullStars = note|round(0, 'floor') %} #}
            {% set fullStars = note %}
            {# {% set partialStar = (note - fullStars)|round(0, 'ceil') %} #}
            {% set emptyStars = 5 - fullStars %}
            {# {% set emptyStars = 5 - fullStars - (partialStar ? 1 : 0) %} #}

            {% for i in range(1, fullStars) %}
                <i class="fa-solid fa-star fullstars"></i>
            {% endfor %}

            {# {% if partialStar %}
                <i class="fa-solid fa-star-half-stroke halfstars"></i>
            {% endif %} #}

            {% if emptyStars %}
                {% for i in range(1, emptyStars) %}
                    <i class="fa-solid fa-star emptystars"></i>
                {% endfor %}
            {% endif %}
            


            <h4>{{critic.lengthMin}}min</h4>
            <h4>{{critic.datePostENG}}</h4>
            <h4>First aired: {{critic.originDatePostENG}}</h4>

            {# > Suppression (modal) #}
            <a href="{{ path('edit_critic', {'id': critic.id})}}"><button>Edit</button></a>
            {# <a href="{{ path('delete_influencer', {'id': influencer.id})}}">Delete</a></h2><br> #}
            <button class="deleteConfirm">Delete</button><br><br>
                <dialog class="openModal">
                    <h3>Are you sure you want to delete critic on "{{critic.piece.title}}" by {{critic.influencer}} ?</h3>
                    <a href="{{ path('delete_critic', {'id': critic.id})}}"><button>Yes</button></a>
                    <button class="closeModal">No</button>
                </dialog>


            
            {# > Like/Dislike buttons #}
            {% if app.user %}
                {% set hasVoted = false %}

                {% for agreement in critic.agreements %}
                    {% if app.user.id == agreement.user.id %}
                        {% set hasVoted = true %}

                        {% if agreement.isOk == true %}
                            <a href="{{ path('like_critic', {'id': critic.id})}}"><button style="background: green; color: white" class="likeBtn" aria-label="Like Critic Button"><i class="fa-solid fa-check"></i></button></a><a href="{{ path('dislike_critic', {'id': critic.id})}}"><button class="dislikeBtn" aria-label="Dislike Critic Button"><i class="fa-solid fa-xmark"></i></button></a><br><br>
                        {% else %}
                            <a href="{{ path('like_critic', {'id': critic.id})}}"><button class="likeBtn" aria-label="Like Critic Button"><i class="fa-solid fa-check"></i></button></a><a href="{{ path('dislike_critic', {'id': critic.id})}}"><button class="dislikeBtn" style="background: red; color: white" aria-label="Dislike Critic Button"><i class="fa-solid fa-xmark"></i></button></a><br><br>
                        {% endif %}

                    {% endif %}   
                {% endfor %}

                {% if not hasVoted %}
                    <a href="{{ path('like_critic', {'id': critic.id})}}"><button class="likeBtn" aria-label="Like Critic Button"><i class="fa-solid fa-check"></i></button></a><a href="{{ path('dislike_critic', {'id': critic.id})}}"><button class="dislikeBtn" aria-label="Dislike Critic Button"><i class="fa-solid fa-xmark"></i></button></a><br><br>
                {% endif %}

            {% else %}
                <a href="{{ path('like_critic', {'id': critic.id})}}"><button class="likeBtn" aria-label="Like Critic Button"><i class="fa-solid fa-check"></i></button></a><a href="{{ path('dislike_critic', {'id': critic.id})}}"><button class="dislikeBtn" aria-label="Dislike Critic Button"><i class="fa-solid fa-xmark"></i></button></a><br><br>
            {% endif %}



            {# > Like/Dislike bar #}

            {# > Avoid division by zero error #}
            {% if critic.agreements|length > 0 %}
                <div class="likdisBarContainer">
                    <small>Agree</small>
                    <div class="dislikeBar">
                        <div class="likeBar" style="width: {{critic.totalAgreements}}%"></div>
                    </div>
                    <small>Disagree</small>
                </div><br>
            {% else %}
                <div class="likdisBarContainer">
                    <small>Agree</small>
                        <div class="emptyBar"></div>
                    <small>Disagree</small>
                </div><br>
            {% endif %}

            
            
            {# Adding comment #}
            <form method="post" action="{{ path('comment_critic', {'id': critic.id})}}">
                {% if app.user %}
                    <div class="addCommentField">
                        <label class="accessLabel" for="addComment">Add comment</label>
                        <textarea class="addComment" name="addComment" id="addComment" maxlength="3500" placeholder="➕ Add comment (3500 characters max. )" required></textarea>
                        {# <i class="fa-solid fa-square-plus commentPlus"></i> #}
                        <input type="submit" name="submit" class="add-comment-submit" value="Post !">
                    </div>
                {% else %}
                    <div class="addCommentField">
                        <label class="accessLabel" for="addComment">Add comment</label>
                        <textarea class="addComment" name="addComment" id="addComment" placeholder="Please log in to comment" disabled></textarea>
                        {# <i class="fa-solid fa-square-plus commentPlus"></i> #}
                    </div>
                {% endif %}
            </form><br>

            {# Display comment #}
            {% for comment in critic.comments|sort((a, b) => b.datePost <=> a.datePost) %}
                <div class="commentDisplay">

                    {# > User PP display #}
                    {% if comment.user.profilePicture %}
                        <a class="ppLink" href="{{ path('show_user', {'id': comment.user.id})}}"><img src="/uploads/photos/userPhotos/{{comment.user.profilePicture}}" alt="{{comment.user}}-profile-picture"></a>
                    {% else %}
                        <a class="ppLink" href="{{ path('show_user', {'id': comment.user.id})}}"><img src="/uploads/photos/userPhotos/user-default.png" alt="user-default-profile-picture"></a>
                    {% endif %}

                    <div class="mainComment">
                        <a class="ppLink" href="{{ path('show_user', {'id': comment.user.id})}}"><strong>{{comment.user}}</a> - </strong>
                        {{comment.datePostENG}}
                        <p>{{comment}}</p>
                    </div>

                    {# > VIP button #}
                    {% if app.user and "ROLE_MODO" in app.user.roles %}
                        {% if comment.isVip == true %}
                            <a class="vipLink" href="{{ path('comment_vip', {'critic': critic.id, 'comment': comment.id})}}"><button class="vipBtn" style="background: #1E1F25"><i class="fa-solid fa-medal vipIcon" style="color: #fe8d01"></i></button></a>
                        {% else %}
                            <a class="vipLink" href="{{ path('comment_vip', {'critic': critic.id, 'comment': comment.id})}}"><button class="vipBtn"><i class="fa-solid fa-medal vipIcon"></i></button></a>
                        {% endif %}
                    {% endif %}

                    {# > Delete button #}
                    {% if (app.user and app.user.id == comment.user.id) or (app.user and "ROLE_MODO" in app.user.roles) %}
                        <button class="delComBtn deleteConfirm"><i class="fa-solid fa-trash delComIcon"></i></button>
                        <dialog class="openModal">
                            <h3>Are you sure you want to delete this comment ?</h3>
                            <a href="{{ path('comment_delete', {'critic': critic.id, 'comment': comment.id})}}"><button>Yes</button></a>
                            <button class="closeModal">No</button>
                        </dialog>
                    {% endif %}

                    {# > Show more button #}
                    <button class="moreBtn"><i class="fa-solid fa-plus moreIcon"></i></button>
                </div><br>
            {% endfor %}

            <hr style="width: 10%"><br>
        </div>
    {% endfor %}
    
    <a href="{{path('show_category', {'id': piece.category.id})}}"><i>> View all {{piece.category}} critics</i></a>
</div>
            
{% endblock %}           



            


