{% extends 'base.html.twig' %}

{% block title %}CritX > {{piece.category}} > Critics > {{piece}}{% endblock %}

{% block body %}

<div>
    <i>#{{piece.category}} > Critics</i>
    <h2>Critics on →</h2>
    <h1>{{piece}}</h1>

    <img src="/uploads/images/{{piece.poster}}" alt="{{piece}}" style="width: 265px; height: 360px; object-fit: cover">

    {% if app.user in piece.users %}
        <a href="{{ path('unsave_critics', {'id': piece.id, 'origin': 'criticsPage'}) }}"><button>Unsave page</button></a>
        {% else %}
        <a href="{{ path('save_critics', {'id': piece.id})}}"><button>Come back later</button></a>
    {% endif %}

    <p><u>Critic Score</u> : {{piece.criticTotalScore}}</p>
    {# <p>User Score : {{piece.userTotalScore}}</p> #}

    {% if piece.isUpcoming %}
        <p><u>Release date</u> : {{piece.releaseDateENG|date("Y") }} (Upcoming)</p>
    {% else %}
        <p><u>Release date</u> : {{piece.releaseDateENG}}</p>
    {% endif %}
    
    <p><u>Maker</u> : {{piece.maker}}</p>
    <p><u>About</u> : {{piece.about}}</p>
    <h4><a href="{{ path('infos_piece', {'id': piece.id})}}">+ More infos</a></h4>
    <h3>Latest critics</h3>
    <hr>
    {% for critic in piece.critics %}
        <iframe width="560" height="315" src="{{critic.media}}" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
        <h3>By: <a href="{{ path('show_influencer', {'id': critic.influencer.id})}}">{{critic.influencer}}</a></h3>
        <a href="{{ path('show_influencer', {'id': critic.influencer.id})}}">
            <img src="/uploads/photos/influPhotos/{{critic.influencer.photo}}" alt="{{critic.influencer}}" style="width: 265px; height: 360px; object-fit: cover">
        </a>
        <blockquote>{{critic.summary}}</blockquote>
        <h3>Score: {{critic.criticScore}}/5</h3>
        <h4>{{critic.lengthMin}}min</h4>
        <h4>{{critic.datePostENG}}</h4>
        <h4>First aired: {{critic.originDatePostENG}}</h4>

        {# > Edit and suppression (modal) #}
        <a href="{{ path('edit_critic', {'id': critic.id})}}"><button>Edit</button></a>
        {# <a href="{{ path('delete_influencer', {'id': influencer.id})}}">Delete</a></h2><br> #}
         <button class="deleteConfirm">Delete</button><br>
            <dialog class="openModal">
                <h3>Are you sure you want to delete critic on "{{critic.piece.title}}" by {{critic.influencer}} ?</h3>
                <a href="{{ path('delete_critic', {'id': critic.id})}}"><button>Yes</button></a>
                <button class="closeModal">No</button>
            </dialog>
    {% endfor %}
    <a href="{{path('show_category', {'id': piece.category.id})}}"><i>> View all {{piece.category}} critics</i></a>
</div>
            
{% endblock %}
            
