{% extends 'base.html.twig' %}

{% block title %}CritX - {{piece.category}} - {{piece}}{% endblock %}

{% block body %}

<div>
    <i>#{{piece.category}} > Critics</i>
    <h2>Critics on →</h2>
    <h1>{{piece}}</h1>
    <p><u>Release date</u> : {{piece.releaseDateENG}}</p>
    <p><u>Maker</u> : {{piece.maker}}</p>
    <p><u>About</u> : {{piece.about}}</p>
    <h4><a href="{{ path('show_piece', {'id': piece.id})}}">+ More infos</a></h4>
    <h3>Latest critics</h3>
    <hr>
    {% for critic in piece.critics %}
        <iframe width="560" height="315" src="{{critic.media}}" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
        <h3>By: <a href="{{ path('show_influencer', {'id': critic.influencer.id})}}">{{critic.influencer}}</a></h3>
        <a href="{{ path('show_influencer', {'id': critic.influencer.id})}}">
            <img src="/uploads/photos/influPhotos/{{critic.influencer.photo}}" alt="{{critic.influencer}}" style="width: 265px; height: 360px; object-fit: cover">
        </a>
        <blockquote>{{critic.summary}}</blockquote>
        <h3>Score: {{critic.criticScore}}/5</h3>
        <h4>{{critic.lengthMin}}min</h4>
        <h4>{{critic.datePostENG}}</h4>
        <h4>Original date post: {{critic.originDatePostENG}}</h4>
    {% endfor %}
</div>
            
{% endblock %}
            
