{% extends 'base.html.twig' %}

{% block title %}
    CritX > Your dashboard 
{% endblock %}

{% block body %}

    <h2>Your dashboard</h2>
    <hr>

    {% if user.profilePicture %}
        <img src="/uploads/photos/userPhotos/{{user.profilePicture}}" alt="{{user}}-profile-picture" style="width: 180px; height: 180px; object-fit: cover">
    {% else %}
        <img src="/uploads/photos/userPhotos/user-default.png" alt="user-default-profile-picture" style="width: 180px; height: 180px;">
    {% endif %}
    
    <h1>{{user}}</h1>

    <a href="{{ path('edit_user')}}"><button>Edit your profile</button></a>
    <button class="deleteConfirm">Delete your profile</button><br><br>

    {# > Suppression (modal) #}
        <dialog class="openModal">
            <h3>Are you sure you want to delete your profile ?</h3>
            <a href="{{ path('delete_user')}}"><button>Yes</button></a>
            <button class="closeModal">No</button>
        </dialog>

    <p><u>Mood</u> : {{user.status}}</p>
    <p><u>Bio</u> : {{user.bio}}</p>
    <p><u>Member since</u>: {{user.creationDateEng}}</p><br>

    {% if user.pieces is not empty %}
        <h3>Saved critics page</h3>

        {% for piece in user.pieces %}
            <a href="{{ path('show_critics', {'id': piece.id})}}"><img src="/uploads/images/{{piece.poster}}" 
            alt="{{piece}}" 
            style="width: 88px; height: 120px; object-fit: cover"></a><br>
            <a href="{{ path('show_critics', {'id': piece.id})}}">{{piece}}</a><br>
            <em>#{{piece.category}}</em><br>
            Critic Score : {{piece.criticTotalScore}}<br>
            {# User Score : {{piece.userTotalScore}}<br> #}

            <button class="deleteConfirm">Unsave page</button><br>
                <dialog class="openModal">
                <h3>Are you sure you want to unsave critics page on "{{piece}}" ?</h3>
                <a href="{{ path('unsave_critics', {'id': piece.id})}}"><button>Yes</button></a>
                <button class="closeModal">No</button>
            </dialog><br>

        {% endfor %}

    {% endif %}
    
{% endblock %}