{% extends 'base.html.twig' %}

{% block title %}
    CritX > Your dashboard 
{% endblock %}

{% block body %}
<div id="userDashContainer">
    <h2>Your dashboard</h2>
    <hr>

    <div id="userDashSubContainer">
        <div id="userDashInfos">
            <div id="userDashImage">
                {% if user.profilePicture %}
                    <img src="/uploads/photos/userPhotos/{{user.profilePicture}}" alt="{{user}}-profile-picture">
                {% else %}
                    <img src="/uploads/photos/userPhotos/user-default.png" alt="user-default-profile-picture">
                {% endif %}
            </div>
        
            <div id="userDashInfosText">
                <h1>{{user}}</h1>

                <div id="dashButtons">
                    <a href="{{ path('edit_user')}}"><button style="padding: 0.1em 0.2em;">Edit your profile</button></a>
                    <button class="deleteConfirm" style="padding: 0.1em 0.2em;">Delete your profile</button><br>

                    {# > Suppression (modal) #}
                    <dialog class="openModal">
                        <h3>Are you sure you want to delete your profile ?</h3>
                        <a href="{{ path('delete_user')}}"><button>Yes</button></a>
                        <button class="closeModal">No</button>
                    </dialog>
                </div>

                <strong>Mood : </strong><span>{{user.status}}</span><br>
                <p><strong>Bio : </strong>{{user.bio}}</p>
                <strong>Member since : </strong><span>{{user.creationDateEng}}</span><br>

                {% if "ROLE_MODO" in user.roles %}
                    <strong>Role : </strong><span>Moderator</span>
                {% endif %}
        
                {% if "ROLE_ADMIN" in user.roles %}
                    <strong>Role</u> : </strong><span>Administrator</span>
                {% endif %}
            </div>
        </div>
        

        {% if user.pieces is not empty %}

            <div id="savedCriticsDashContainer">
                <h3 id="criticDashTitle">Saved critics page</h3>

                <div id="savedCriticsDashSubContainer">
                    {% for piece in user.pieces %}
                        
                        <div id="savedCriticDash{{piece.id}}" class="savedCriticDash">


                        {% if piece.category == "Music" %}
                        
                            <a href="{{ path('show_critics', {'id': piece.id})}}"><img id="musicCriticsUserDashSaved" src="/uploads/images/{{piece.poster}}" 
                            alt="{{piece}}-visual"></a>

                        {% else %}
                            
                            <a href="{{ path('show_critics', {'id': piece.id})}}"><img src="/uploads/images/{{piece.poster}}" 
                            alt="{{piece}}-visual"></a>

                        {% endif %}


                            <a href="{{ path('show_critics', {'id': piece.id})}}">{{piece}}</a>
                            <i>#{{piece.category}}</i>

                        {# {% if piece.critics|length > 0 %}
                            <p>Critic Score : {{piece.criticTotalScore}}/10</p>
                        {% endif %}
                        {% if piece.opinions|length > 0 %}
                            <p>User score : {{ piece.userTotalScore }}/10</p>
                        {% else %}
                            <p>User score : Not rated yet</p>
                        {% endif %} #}

                            {# <button class="deleteConfirm">Unsave page</button><br>
                                <dialog class="openModal">
                                <h3>Are you sure you want to unsave critics page on "{{piece}}" ?</h3>
                                <a href="{{ path('unsave_critics', {'id': piece.id})}}"><button>Yes</button></a>
                                <button class="closeModal">No</button>
                            </dialog><br> #}

                            <button class="deleteConfirm delFromDash" aria-label="Unsave Critics Page Button"><i class="fa-solid fa-bookmark"></i></button>
                                <dialog class="openModal">
                                <h3>Are you sure you want to unsave critics page on "{{piece}}" ?</h3>
                                <button class="save-critics-btn closeModal"
                                    data-piece-id="{{ piece.id }}"
                                    data-action="unsave">Yes</button>
                                <button class="closeModal">No</button>
                            </dialog>

                        </div>

                    {% endfor %}
                </div>
            </div>

        {% endif %}
    </div>

    {% if user.opinions is not empty %}
        <h3>Your ratings (latest)</h3>
        <hr>

        <div id="userCriticsListDash">
        {% for opinion in user.opinions|sort((a, b) => b.piece.releaseDate <=> a.piece.releaseDate) %}

            <div id="oneUserCriticDash">

            {% if opinion.piece.category == "Music" %}
            
                <a href="{{ path('infos_piece', {'id': opinion.piece.id})}}"><img id="musicCriticsUserDash" src="/uploads/images/{{opinion.piece.poster}}"
                alt="{{opinion.piece}}-visual"></a>
            
            {% else %}
                
                <a href="{{ path('infos_piece', {'id': opinion.piece.id})}}"><img src="/uploads/images/{{opinion.piece.poster}}"
                alt="{{opinion.piece}}-visual"></a>
            
            {% endif %}


            <a href="{{ path('infos_piece', {'id': opinion.piece.id})}}">{{opinion.piece}}</a>

            <i>#{{opinion.piece.category}}</i>

            <div class="starsDisplay">
                {# > Star score system #}
                {% set note = opinion.userScore %}
                {# {% set fullStars = note|round(0, 'floor') %} #}
                {% set fullStars = note %}
                {# {% set partialStar = (note - fullStars)|round(0, 'ceil') %} #}
                {% set emptyStars = 5 - fullStars %}
                {# {% set emptyStars = 5 - fullStars - (partialStar ? 1 : 0) %} #}

                {% for i in range(1, fullStars) %}
                    <i class="fa-solid fa-star fullstars"></i>
                {% endfor %}

                {# {% if partialStar %}
                    <i class="fa-solid fa-star-half-stroke halfstars"></i>
                {% endif %} #}

                {% if emptyStars %}
                    {% for i in range(1, emptyStars) %}
                        <i class="fa-solid fa-star emptystars"></i>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if user.influencers is not empty %}
        <h3 id="influencerDashTitle">You appreciate</h3>
        <hr>

        <div id="userInfluListDash">
        {% for influencer in user.influencers %}

            <div id="likedInfluencerDash{{influencer.id}}" class="oneUserInfluDash">

                <a href="{{ path('show_influencer', {'slug': influencer.slug})}}">

                {% if influencer.photo %}
                    <img src="/uploads/photos/influPhotos/{{influencer.photo}}"
                    alt="{{influencer}}-picture">
                {% else %}
                    <img src="/uploads/photos/influPhotos/influencer-default.png" 
                    alt="influencer-default-picture">
                {% endif %}

                </a>
                <a href="{{ path('show_influencer', {'slug': influencer.slug})}}">{{influencer}}</a>

                {# <i class="fas fa-heart"></i> #}

                {# <button class="deleteConfirm">Unlike</button><br>
                    <dialog class="openModal">
                    <h3>Are you sure you want to unlike "{{influencer}}" ?</h3>
                    <a href="{{ path('unlike_influencer', {'id': influencer.id})}}"><button>Yes</button></a>
                    <button class="closeModal">No</button>
                </dialog><br> #}

                <button class="deleteConfirm delFromDash" aria-label="Unlike Influencer Button"><i class="fas fa-heart"></i></button>
                    <dialog class="openModal">
                    <h3>Are you sure you want to unlike "{{ influencer }}" ?</h3>
                    <button class="like-influencer-btn closeModal"
                        data-influencer-id="{{ influencer.id }}"
                        data-action="unlike">Yes</button>
                    <button class="closeModal">No</button>
                </dialog>
            </div>
        {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}