{% extends 'base.html.twig' %}

{% block title %}
        CritX > User profile > {{user}}
{% endblock %}

{% block body %}

    <h2>Profile</h2>
    <hr>

    {% if user.profilePicture %}
        <img src="/uploads/photos/userPhotos/{{user.profilePicture}}" alt="{{user}}-profile-picture" style="width: 180px; height: 180px; object-fit: cover">
    {% else %}
        <img src="/uploads/photos/userPhotos/user-default.png" alt="user-default-profile-picture" style="width: 180px; height: 180px;">
    {% endif %}
    
    <h1>{{user}}</h1> 
    <p>Mood : {{user.status}}</p>
    <p>Bio : {{user.bio}}</p>
    <p>Member since: {{user.creationDateEng}}</p>

{% endblock %}