{% extends 'base.html.twig' %}

{% block title %}
        CritX > User profile > {{user}}
{% endblock %}

{% block body %}
<div id="userContainer">
    <h2>Profile</h2>
    <hr>

    <div id="userInfos">
        <div id="userImage">
            {% if user.profilePicture %}
                <img src="/uploads/photos/userPhotos/{{user.profilePicture}}" alt="{{user}}-profile-picture">
            {% else %}
                <img src="/uploads/photos/userPhotos/user-default.png" alt="user-default-profile-picture">
            {% endif %}
        </div>
        
        <div id="userInfosText">
            <h1>{{user}}</h1> 
            <strong>Mood : </strong><span>{{user.status}}</span><br>
            <p><strong>Bio : </strong>{{user.bio}}</p>
            <strong>Member since : </strong><span>{{user.creationDateEng}}</span><br>

            {% if "ROLE_MODO" in user.roles %}
                <strong>Role : </strong><span>Moderator</span>
            {% endif %}
            
            {% if "ROLE_ADMIN" in user.roles %}
                <strong>Role : </strong><span>Administrator</span>
            {% endif %}
        </div>
    </div>

    {% if user.opinions is not empty %}
        <h3> {{user}}'s ratings (latest)</h3>
        <hr>

        <div id="userCriticsList">
        {% for opinion in user.opinions|sort((a, b) => b.piece.releaseDate <=> a.piece.releaseDate) %}
            
            <div id="oneUserCritic">

                {% if opinion.piece.category == "Music" %}
                
                    <a href="{{ path('infos_piece', {'slug': opinion.piece.slug})}}"><img id="musicCriticsUser" src="/uploads/images/{{opinion.piece.poster}}"
                    alt="{{opinion.piece}}-visual"></a>
                
                {% else %}
                    
                    <a href="{{ path('infos_piece', {'slug': opinion.piece.slug})}}"><img src="/uploads/images/{{opinion.piece.poster}}"
                    alt="{{opinion.piece}}-visual"></a>
                
                {% endif %}
                
                
                <a href="{{ path('infos_piece', {'slug': opinion.piece.slug})}}">{{opinion.piece}}</a>

                <i>#{{opinion.piece.category}}</i>

                <div>
                {# > Star score system #}
                {% set note = opinion.userScore %}
                {# {% set fullStars = note|round(0, 'floor') %} #}
                {% set fullStars = note %}
                {# {% set partialStar = (note - fullStars)|round(0, 'ceil') %} #}
                {% set emptyStars = 5 - fullStars %}
                {# {% set emptyStars = 5 - fullStars - (partialStar ? 1 : 0) %} #}

                {% for i in range(1, fullStars) %}
                    <i class="fa-solid fa-star fullstars"></i>
                {% endfor %}

                {# {% if partialStar %}
                    <i class="fa-solid fa-star-half-stroke halfstars"></i>
                {% endif %} #}

                {% if emptyStars %}
                    {% for i in range(1, emptyStars) %}
                        <i class="fa-solid fa-star emptystars"></i>
                    {% endfor %}
                {% endif %}
                </div>
            </div>      
        {% endfor %}
        </div>
    
    {% endif %}
    
    {% if user.influencers is not empty %}
        <h3> {{user}} appreciates</h3>
        <hr>

        <div id="userInfluList">
        {% for influencer in user.influencers %}

            <div id="oneUserInflu">
                <a href="{{ path('show_influencer', {'slug': influencer.slug})}}">
                
                {% if influencer.photo %}
                    <img src="/uploads/photos/influPhotos/{{influencer.photo}}"
                    alt="{{influencer}}-picture">
                {% else %}
                    <img src="/uploads/photos/influPhotos/influencer-default.png" 
                    alt="influencer-default-picture">
                {% endif %}

                </a>
                <a href="{{ path('show_influencer', {'slug': influencer.slug})}}">{{influencer}}</a>

                <i class="fas fa-heart"></i>
            </div>
        {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}