{% extends 'base.html.twig' %}

{% block title %}
        CritX > User profile > {{user}}
{% endblock %}

{% block body %}

    <h2>Profile</h2>
    <hr>

    {% if user.profilePicture %}
        <img src="/uploads/photos/userPhotos/{{user.profilePicture}}" alt="{{user}}-profile-picture" style="width: 180px; height: 180px; object-fit: cover">
    {% else %}
        <img src="/uploads/photos/userPhotos/user-default.png" alt="user-default-profile-picture" style="width: 180px; height: 180px;">
    {% endif %}
    
    <h1>{{user}}</h1> 
    <p><u>Mood</u> : {{user.status}}</p>
    <p><u>Bio</u> : {{user.bio}}</p>
    <p><u>Member since</u> : {{user.creationDateEng}}</p><br>

    {% if "ROLE_MODO" in user.roles %}
        <p><u>Role</u> : Moderator</p><br>
    {% endif %}
    
    {% if "ROLE_ADMIN" in user.roles %}
        <p><u>Role</u> : Administrator</p><br>
    {% endif %}

    {% if user.opinions is not empty %}
        <h3> {{user}}'s ratings (latest)</h3>

        {% for opinion in user.opinions %}
            <a href="{{ path('infos_piece', {'id': opinion.piece.id})}}"><img src="/uploads/images/{{opinion.piece.poster}}"
            alt="{{opinion.piece}}" 
            style="width: 88px; height: 120px; object-fit: cover"></a><br>
            <a href="{{ path('infos_piece', {'id': opinion.piece.id})}}">{{opinion.piece}}</a>

            {# > Star score system #}
            {% set note = opinion.userScore %}
            {# {% set fullStars = note|round(0, 'floor') %} #}
            {% set fullStars = note %}
            {# {% set partialStar = (note - fullStars)|round(0, 'ceil') %} #}
            {% set emptyStars = 5 - fullStars %}
            {# {% set emptyStars = 5 - fullStars - (partialStar ? 1 : 0) %} #}

            {% for i in range(1, fullStars) %}
                <i class="fa-solid fa-star fullstars"></i>
            {% endfor %}

            {# {% if partialStar %}
                <i class="fa-solid fa-star-half-stroke halfstars"></i>
            {% endif %} #}

            {% if emptyStars %}
                {% for i in range(1, emptyStars) %}
                    <i class="fa-solid fa-star emptystars"></i>
                {% endfor %}
            {% endif %}<br>

        <i>#{{opinion.piece.category}}</i><br><br>       
        {% endfor %}
    
    {% endif %}
    
    {% if user.influencers is not empty %}
        <h3> {{user}} appreciates</h3>

        {% for influencer in user.influencers %}
            <a href="{{ path('show_influencer', {'id': influencer.id})}}"><img src="/uploads/photos/influPhotos/{{influencer.photo}}"
            alt="{{influencer}}" 
            style="width: 88px; height: 120px; object-fit: cover"></a><br>
            <a href="{{ path('show_influencer', {'id': influencer.id})}}">{{influencer}}</a><br><br>
        {% endfor %}

    {% endif %}

{% endblock %}