{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user and app.user.id == user.id %}
        CritX > Your profile 
    {% else %}
        CritX > User profile > {{user}}
    {% endif %}
{% endblock %}

{% block body %}

    {% if app.user and app.user.id == user.id %}
        <h2>Your profile</h2>
    {% else %}
        <h2>Profile</h2>
    {% endif %}

    <hr>

    {% if user.profilePicture %}
        <img src="/uploads/photos/userPhotos/{{user.profilePicture}}" alt="{{user}}-profile-picture" style="width: 180px; height: 180px; object-fit: cover">
    {% else %}
        <img src="/uploads/photos/userPhotos/user-default.png" alt="user-default-profile-picture" style="width: 180px; height: 180px;">
    {% endif %}
    
    <h1>{{user}}</h1>

    {% if app.user and app.user.id == user.id %}
        <a href="{{ path('edit_user')}}"><button>Edit your profile</button></a>
        <button class="deleteConfirm">Delete your profile</button><br>
        
        {# > Suppression (modal) #}
        <dialog class="openModal">
            <h3>Are you sure you want to delete your profile ?</h3>
            <a href="{{ path('delete_user')}}"><button>Yes</button></a>
            <button class="closeModal">No</button>
        </dialog>
    {% endif %}
    
    <p>Mood : {{user.status}}</p>
    <p>Bio : {{user.bio}}</p>
    <p>Member since: {{user.creationDateEng}}</p>

    {% if app.user and app.user.id == user.id and app.user.pieces is not empty %}
        <h3>Saved critics page</h3>
        {% for piece in user.pieces %}
            {{piece}}
        {% endfor %}
    {% endif %}
    
{% endblock %}